@import 'vars';
@import 'mixins';
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

.box-content {
    overflow: hidden;
}

#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;
    &:checked~.nav {
        display: none;
        right: -$widthBurgerMenu;
    }
}

.nav {
    display: none;
    top: 81px;
    right: 0px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    transition: right .3s;
}

.top-head {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
    }
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    @extend %flex;
    position: relative;
    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
        @extend %flex;
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 41px;
        @extend %flex;
        &_button {
            border-style: none;
            position: relative;
            background-color: $backBlock;
        }
        &_button_span {
            background-color: $colorSelectSite;
            position: absolute;
            width: 18px;
            border-radius: 50%;
            top: -3px;
            right: -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.filter-sort {
    padding-top: 39px;
    box-sizing: border-box;
    height: 132px;
    position: relative;
    display: flex;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    &__content {
        background: #FFFFFF;
        padding: 0 16px 16px 16px;
    }
    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] .filter__heading {
        color: $colorSelectSite;
    }
    &[open] path {
        fill: $colorSelectSite;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }
    &__heading {
        color: $secondText;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
    &__item {
        margin-top: 16px;
    }
    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }
    &__link {
        color: $secondText;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    &__link:hover {
        color: $colorSelectSite
    }
    &__head {
        color: $backBlock;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }
    &__item[open] .filter__head {
        color: $colorSelectSite;
    }
}

.sort {
    display: flex;
    gap: 18px;
    padding-top: 12px;
    &__details {
        position: relative;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__heading {
        color: $backBlock;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
}

.bredcrumbs__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.bredcrumbs__link__site {
    font-weight: 700;
    color: $colorSelectSite;
}

.product-box {
    @include centerflex();
}

.product {
    max-width: $thirdSite;
    display: flex;
    flex-direction: column;
    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }
    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorSelectSite;
    }
}

.feedback {
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 80px;
    height: 418px;
    background-image: url(./img/photo_subscribe.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.email-input {
    padding: 10px;
    border-radius: 25px 0 0 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.subscribe-button {
    padding: 10px 20px;
    border: none;
    background-color: #E05C6E;
    color: #fff;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.subscribe-cart .block-text {
    max-width: 300px;
    text-align: center;
}

.subscribe-cart {
    gap: 30px;
    display: flex;
    z-index: 1;
    filter: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.social_media {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.media {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.media_inst {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.footer {
    height: 78px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222224;
}

.title_footer {
    color: #FBFBFB;
    font-family: LatoRegular;
    font-weight: 400;
    font-size: 16px;
}

.media_inst:hover {
    background-color: $colorSelectSite;
}

.media_inst:hover .inst {
    display: none;
}

.inst_new {
    display: none;
}

.media_inst:hover .inst_new {
    display: inline;
}

.counter {
    display: flex;
    justify-content: center;
    &__content {
        border: 1px solid #EBEBEB;
        padding: 10px 20px;
        display: flex;
        font-weight: 300;
        font-size: 16px;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        &__first {
            color: #EF5B70;
        }
        &__second {
            color: #EBEBEB;
        }
    }
}