* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.header__right, .header__left, .header {
  display: flex;
  flex-wrap: wrap;
}

.box-content {
  overflow: hidden;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  display: none;
  right: -232px;
}

.nav {
  display: none;
  top: 81px;
  right: 0px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  transition: right 0.3s;
}

.top-head {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 41px;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.feedback {
  padding-top: 50px;
  padding-bottom: 100px;
  gap: 80px;
  height: 418px;
  background-image: url(./img/photo_subscribe.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.feedback .subsribe__right h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #222224;
}
.feedback .subsribe__right p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #222224;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.email-input {
  padding: 10px;
  border-radius: 25px 0 0 25px;
  border: 1px solid #ccc;
  width: 300px;
  box-sizing: border-box;
}

.subscribe-button {
  padding: 10px 20px;
  border: none;
  background-color: #E05C6E;
  color: #fff;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.subscribe-cart .block-text {
  max-width: 300px;
  text-align: center;
}

.subscribe-cart {
  gap: 30px;
  display: flex;
  z-index: 1;
  filter: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.social_media {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.media {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.media_inst {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.footer {
  height: 78px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222224;
}

.title_footer {
  color: #FBFBFB;
  font-family: LatoRegular;
  font-weight: 400;
  font-size: 16px;
}

.media_inst:hover {
  background-color: #F16D7F;
}

.media_inst:hover .inst {
  display: none;
}

.inst_new {
  display: none;
}

.media_inst:hover .inst_new {
  display: inline;
}

.registration-box {
  display: flex;
  justify-content: center;
  gap: 128px;
}
.registration-box__left-menu {
  padding-top: 64px;
}
.registration-box__left-menu__name {
  width: 360px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 16px;
  color: #222;
}
.registration-box__left-menu input {
  height: 36px;
  padding-left: 6px;
  border: 1px solid #A4A4A4;
}
.registration-box__left-menu input::-moz-placeholder {
  height: 36px;
  padding-left: 12px;
  font-weight: 300;
  font-size: 13px;
  color: #e7dfdf;
}
.registration-box__left-menu input::placeholder {
  height: 36px;
  padding-left: 12px;
  font-weight: 300;
  font-size: 13px;
  color: #e7dfdf;
}
.registration-box__left-menu__text {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.registration-box__left-menu__button {
  position: relative;
  width: 167px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background-color: #F16D7F;
  border: none;
  margin-top: 19px;
  margin-bottom: 96px;
}
.registration-box__left-menu__button:hover {
  background-color: #fff;
  color: #F16D7F;
  transition: 0.5s;
}
.registration-box__left-menu__button:hover .button_img {
  fill: #F16D7F;
}
.registration-box__right-menu {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 64px;
  width: 652px;
}
.registration-box__right-menu h2 {
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
.registration-box__right-menu p {
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
.registration-box__right-menu__sale {
  display: flex;
  gap: 12px;
}
.registration-box__right-menu__stock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gender {
  padding-top: 31px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 11px;
  color: #000;
}
.gender__male {
  padding-right: 10px;
}/*# sourceMappingURL=style.css.map */