    @import 'vars';
    @media(min-width:768px) and (max-width:1140px) {
        .header {
            padding-left: 32px;
            padding-right: 32px;
        }
        .top-head__heading {
            padding-left: 16px;
        }
        .breadcrumbs {
            padding-right: 16px;
        }
        .feedback {
            flex-direction: column;
            gap: 0px;
        }
        .product {
            width: $twoSite;
            &__img {
                width: $twoSite;
            }
        }
        .swiper {
            // position: relative;
            height: 500px;
        }
        .swiper-slide img {
            max-width: 50%;
            max-height: 100%;
            object-fit: cover;
        }
        .womenCollection {
            margin: 0px;
        }
        .item_tablet_none {
            display: none;
        }
        .prod {
            flex-direction: row-reverse;
            padding-bottom: 50px;
        }
    }